@charset "UTF-8";
@use "sass:math";

//ブレイクポイント
$breakpoints: (
  md: 767,
);
//メディアクエリー
$mediaquerys: (
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
);
// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}
// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
    @return math.div($pixels, 10) * 1rem;
}

$base-font-family:  "mr-eaves-modern", sans-serif;
$second-font-family: "acumin-pro", sans-serif ;
$bold : 700;
$reg : 400;
$weight_r : 300;

$color-black: #000;
$color-white: #fff;
$color-theme: #DA9292;
$color-red: #6F4C4C;
$color-rosseta: #B2DDDE;
$color-daisy: #C7835E;
$color-pink: #F6C6D7;
$color-load-bg: #E9D9D7;
$color-load-second-bg: #EEE7E0;

$inner: 1400px;

$padding-pc: rem(25);
$padding-sp: rem(20);

#MO240319swimsuit {
    font-family: $base-font-family;
    font-weight: 400;
    * {
        transition-timing-function: ease;
    }
    .font-sub {
        font-family: $second-font-family;
        font-weight: 300;
        font-style: normal;
    }
    .js-fadeIn {
        opacity: 0 ;
        visibility: hidden;
        transition: opacity 1s, visibility 1s;
    }
    .js-fadeIn.visible {
        opacity: 1 ;
        visibility: visible;    
    }
    .js-fadeInLeft {
        opacity: 0 ;
        visibility: hidden;
        transform: translateX(80px);
        transition: opacity 1s, visibility 1s, transform 1s;
    }
    .js-fadeInRight {
        opacity: 0 ;
        visibility: hidden;
        transform: translateX(-80px);
        transition: opacity 1s, visibility 1s, transform 1s;
    }
    .js-fadeInLeft.visible, 
    .js-fadeInRight.visible {
        opacity: 1 ;
        visibility: visible;    
        transform: translateX(0);
    }
    .js-fadeInMv {
        opacity: 0 ;
        visibility: hidden;
        transition: opacity 1.5s, visibility 1.5s;
    }
    .js-fadeInMv.visible {
        opacity: 1 ;
        visibility: visible ease;
    }
    .only-mobile {
        display: none;
        @include mq(md) {
            display: block;
        }
    }
    .only-desktop {
        display: block;
        @include mq(md) {
            display: none;
        }
    }
    .inner {
        width: 100%;
        max-width: calc($inner + ($padding-pc * 2));
        padding-right: $padding-pc;
        padding-left: $padding-pc;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        @include mq(md) {
            padding-right: $padding-sp;
            padding-left: $padding-sp;
        }
    }
    .text-transform-uppercase {
        text-transform: uppercase;
    }
    .image-block {
        display: block;
    }
}